@import url("https://fonts.cdnfonts.com/css/pp-neue-montreal");


:root{
    --light-color: #edf1e8;
    --dark-color: #101010;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
        font-family: 'PP Neue Montreal', sans-serif;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 {
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: -0.075rem;
    line-height: 1.125;
}

h3{
    font-size: 2.25rem;
    font-weight: 500;
    letter-spacing: -0.025rem;
    line-height: 1.125;
}

.container{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--light-color);
    will-change: background-color;
}

.hero, .outro{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 2rem;
    align-content: center;
    text-align: center;
}
.hero h1, .outro h1{
    width: 75%;
    margin: 0 auto;
}



.outro{
    background-color: var(--dark-color);
    color: var(--light-color);
}

.marquee{
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}
.marquee-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%;
    height: 100%;
    transform: translate(-50%, -50%) rotate(-5deg);
    -webkit-transform: translate(-50%, -50%) rotate(-5deg);
    -moz-transform: translate(-50%, -50%) rotate(-5deg);
    -ms-transform: translate(-50%, -50%) rotate(-5deg);
    -o-transform: translate(-50%, -50%) rotate(-5deg);
}

.marquee-images{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-75%, -50%);
    -webkit-transform: translate(-75%, -50%);
    -moz-transform: translate(-75%, -50%);
    -ms-transform: translate(-75%, -50%);
    -o-transform: translate(-75%, -50%);
    display: flex;
    width: 200%;
    height: 100%;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    will-change: transform;
}


.marquee-img{
    flex: 1;
    width: 100%;
    aspect-ratio: 5/3;
}

.horizontal-scroll{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

}

.horizontal-scroll-wrapper{
    position: relative;
    width: 300%;
    height: 100vh;
    display: flex;
    will-change: transform;

}



.horizontal-slide{
    flex: 1;
    height: 100%;
    display: flex;
    gap: 2rem;
    padding: 2rem;
}

.horizontal-slide:not(.horizontal-spacer){
    background-color: var(--dark-color);
    color: var(--light-color);
}

.horizontal-slide .col:nth-child(1){
    flex: 3;

}
.horizontal-slide .col:nth-child(2){
    flex: 2;

}
.horizontal-scroll .col{
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizontal-slide .col h3, .horizontal-slide .col img{
    width: 75%;
}




@media (max-width: 1000px) {
    h1{
        font-size: 2.5rem;
        letter-spacing: -0.05rem;
    }

    h3{
        font-size: 1.5rem;
    }

    .hero h1, .outro h1{
        width: 100%;
    }

    .marquee-wrapper{
        width: 300%;
    }

    .horizontal-slide{
        padding: 4rem;
        flex-direction: column-reverse;
        gap: 2rem;
    }

    .horizontal-slide .col:nth-child(1){
        align-items: flex-start;
    }
    .horizontal-slide .col h3{
        width: 100%;
    } 
    .horizontal-slide .col img{
        width: 100%;
        height: 100%;
    }
}


 .about{
    position: relative;
    width: 100%;
    height: 60svh;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.about-img{
    width: 300px;
    aspect-ratio: 5/7;
    overflow: hidden;

}

.services{
    position: relative;
    width: 100%;
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.services-header h1 {
  font-size: 4rem;
  font-weight: 900;
  color: white;
  letter-spacing: -0.15rem;
  text-align: center;
}


.services-header img{
    object-fit: contain;
}

.services-header:nth-child(1),
.services-header:nth-child(3){
    transform: translateX(100%) translateY(0%);

}

.services-header:nth-child(2)
{
    transform: translateX(-100%) translateY(0%);

    z-index: 2;
}

.services-copy{
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 155svh;

    text-align: center;
}

.animate-text{
    position: relative;
    width: 60%;
    margin: 0 auto;
    color: #4f4f4f;
    --clip-value: 100%;
}

.animate-text::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    clip-path: inset(0 0 var(--clip-value) 0);
    will-change: clip-path;
}

@media( max-width: 1000px){
    h1 {
        font-size: 2rem;
        letter-spacing: -0.05rem;
    }

    .animate-text{
        width: 100%;

    }
}
